<!-- <div class="main" *ngIf="episodesData$ | async as episodesDatas">
  <div class="main-show" *ngFor="let episode of episodesDatas">
    {{ episode.name }}
  </div>
</div> -->

<div
  class="main2"
  fxLayout="row wrap"
  fxLayoutAlign="space-evenly center"
  *ngIf="episodesData$ | async as episodesDatas"
>
  <mat-card
    class="main2-card"
    fxLayoutAlign="start center"
    fxLayout="column"
    fxLayoutGap="1rem"
    *ngFor="let episode of episodesDatas"
  >
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>{{ episode.topic }}</mat-card-title>
      <mat-card-subtitle>{{ episode.name }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img
          src="../../assets/computer-line.svg"
          alt="computer icon"
          class="main2-icon"
        /> -->

    <mat-card-content
      class="main2-card__content"
      fxLayout="column"
      fxLayoutGap="1rem"
    >
      <iframe
        width="320"
        height="440"
        src="https://www.instagram.com/tv/CEBR7j2BVVF/embed"
        frameborder="0"
      ></iframe>

      <div>Guests:&nbsp;{{ episode.guests }}</div>
      <a href="{{ episode.soundCloud }}">Listen on Sound cloud</a>
      <!-- <iframe
        width="320"
        height="440"
        [src]="episode.instagram"
        frameborder="0"
      ></iframe> -->
      <button
        class="submit-button"
        color="warn"
        mat-raised-button
        (click)="onDeleteEpisodes(episode.id)"
      >
        delete
      </button>
    </mat-card-content>
  </mat-card>

  <!-- <mat-card
    class="main2-card"
    fxLayoutAlign="center center"
    fxLayout="column"
    fxLayoutGap="1rem"
  >
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>topic</mat-card-title>
      <mat-card-subtitle>name</mat-card-subtitle>
    </mat-card-header>
    <img
          src="../../assets/computer-line.svg"
          alt="computer icon"
          class="main2-icon"
        />

    <mat-card-content>
      Guests SoundCloud Date
    </mat-card-content>
  </mat-card>
</div> -->
</div>
