.main2 {
  // background-image: linear-gradient(rgba(7, 6, 44, 0.7), rgba(7, 6, 44, 0.7)),
  //   url(../../assets/christopher-gower-m_HRfLhgABo-unsplash.jpg);
  // background-repeat: no-repeat;

  // background-size: cover;
  background-color: rgb(132, 132, 255);
  min-height: 100vh;

  &-card {
    width: 50%;
    height: 60%;

    background-color: #f7f7f7c5;

    transition: all 0.5s;
    // background-image: linear-gradient(
    //   to bottom right,
    //   #f7f7f7,
    //   rgba(38, 38, 252, 0.562)
    // );

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    &:hover {
      transform: scale(1.1);
    }
    &__content {
      font-size: 2rem;
      text-align: center;
      line-height: 3rem;
    }

    // &-content {
    //   font-size: 3rem;

    //   font-weight: 500;
    //   letter-spacing: 0.1rem;
    // }
  }

  &-icon {
    width: 6rem;
    height: 6rem;
  }
}
