<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" #sidenav>Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        (click)="sidenav.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="nav">
        <ul class="nav-list" fxLayout="row" fxLayoutGap="2rem">
          <li class="nav-list__item"><a routerLink="Home">Home</a></li>
          <li class="nav-list__item">
            <a routerLink="episodes/addepisodes">Add episode</a>
          </li>
          <li class="nav-list__item">
            <a routerLink="episodes/loadepisodes">Load episodes</a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
