<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav" #sidenav>
    <mat-nav-list
      role="list"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutGap="2rem"
      fxLayoutAlign="center end"
    >
      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/welcome"
        (click)="sidenav.close()"
        class="matlist"
        >Home
      </mat-list-item>
      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="episodes/addepisodes"
        (click)="sidenav.close()"
        class="matlist"
        >Add Episode</mat-list-item
      >
      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="episodes/loadepisodes"
        (click)="sidenav.close()"
        class="matlist"
        >Episode</mat-list-item
      >
      <mat-list-item
        role="listitem"
        class="matlist"
        fxLayoutAlign="center center"
        (click)="auth.login()"
        *ngIf="!auth.loggedIn"
        fxFlexAlign="end"
        fxFill
        >Log In</mat-list-item
      >
      <mat-list-item
        role="listitem"
        class="matlist"
        fxLayoutAlign="center center"
        (click)="auth.logout()"
        *ngIf="auth.loggedIn"
        >Log Out</mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="res" color="primary">
      <button
        (click)="sidenav.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="nav" fxHide.lt-md fxFlex>
        <ul class="nav-list" fxLayout="row" fxLayoutGap="3rem">
          <li class="nav-list__item">
            <a
              routerLink="Home"
              routerLinkActive="active"
              fxLayoutAlign="center center"
              >Home<mat-icon class="nav-list__item-icon">home</mat-icon></a
            >
          </li>
          <ng-container *ngIf="auth.userProfile$ | async as profile">
            <li
              class="nav-list__item"
              *ngIf="profile.email == 'sorosh.bayanati@gmail.com'"
            >
              <a
                routerLink="episodes/addepisodes"
                routerLinkActive="active"
                fxLayoutAlign="center center"
                >Add Episode<mat-icon class="nav-list__item-icon"
                  >queue</mat-icon
                ></a
              >
            </li>
          </ng-container>

          <li class="nav-list__item">
            <a
              routerLink="episodes/loadepisodes"
              routerLinkActive="active"
              fxLayoutAlign="center center"
              >Episodes
              <mat-icon class="nav-list__item-icon">ondemand_video</mat-icon></a
            >
          </li>

          <li class="nav-list__item" *ngIf="!auth.loggedIn">
            <a class="auth" (click)="auth.login()" fxLayoutAlign="center center"
              >Log In<mat-icon class="nav-list__item-icon">login</mat-icon>
            </a>
          </li>

          <li class="nav-list__item" *ngIf="auth.loggedIn">
            <a
              class="auth"
              (click)="auth.logout()"
              fxLayoutAlign="center center"
              >Log Out<mat-icon class="nav-list__item-icon"
                >exit_to_app</mat-icon
              >
            </a>
          </li>
          <!-- <li class="nav-list__item" *ngIf="auth.loggedIn">
            <a routerLink="profile">Profile</a>
          </li> -->
        </ul>
      </div>
      <app-profile></app-profile>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <mat-list-item
            class="auth"
            (click)="auth.logout()"
            *ngIf="auth.loggedIn"
            >Log Out</mat-list-item
          > -->
<!-- <li
            class="nav-list__item"
            (click)="auth.login()"
            *ngIf="!auth.loggedIn"
          >
            Log In
          </li>
          <li
            class="nav-list__item"
            (click)="auth.logout()"
            *ngIf="auth.loggedIn"
          >
            Log Out
          </li> -->
