mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

.nav {
  &-list {
    &__item {
      list-style: none;
      font-size: 2rem;
      list-style: none;

      a {
        color: white;
        text-decoration: none;
      }

      a:hover {
        color: rgba(46, 235, 46, 0.938);
      }
      &-icon {
        margin-left: 0.5rem;
      }
    }
  }
}

.res {
  position: absolute;
  background-color: transparent;
  z-index: 20;
}

.sidenav {
  width: 20rem;
  background: rgba(26, 202, 79, 0.623);
}

.active {
  text-decoration: underline white !important;
}

.matlist {
  color: white;
}

.auth {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}
