mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

.nav {
  &-list {
    &__item {
      list-style: none;
      font-size: 2rem;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.res {
  position: absolute;
  background-color: transparent;
  z-index: 20;
}

.sidenav {
  width: 20rem;
  background: rgba(245, 245, 245, 0.753);
}
