<mat-card
  class="main2-card"
  fxLayoutAlign="start center"
  fxLayout="column"
  fxLayoutGap="1rem"
>
  <mat-card-header fxLayoutAlign="center center">
    <mat-card-title
      ><h1>{{ episode.topic }}</h1></mat-card-title
    >
    <mat-card-subtitle>{{ episode.name }}</mat-card-subtitle>
  </mat-card-header>
  <!-- <img
          src="../../assets/computer-line.svg"
          alt="computer icon"
          class="main2-icon"
        /> -->

  <mat-card-content
    class="main2-card__content"
    fxLayout="column"
    fxLayoutGap="1rem"
  >
    <!-- [src]="sendUrl('https://www.instagram.com/tv/CEBR7j2BVVF/embed')" -->
    <iframe
      width="320"
      height="440"
      [src]="sendUrl(episode.instagram + 'embed')"
      frameborder="0"
    ></iframe>

    <!-- <iframe
        width="320"
        height="440"
        [src]="episode.instagram"
        frameborder="0"
      ></iframe> -->
    <div>Guests:&nbsp;{{ episode.guests }}</div>
    <a href="{{ episode.soundCloud }}">Listen on Sound cloud</a>

    <button
      class="submit-button"
      color="warn"
      mat-raised-button
      (click)="onDeleteEpisodes(episode.id)"
    >
      delete
    </button>
  </mat-card-content>
</mat-card>
