.form {
  background-color: rgb(123, 123, 255);
  min-height: 100vh;
}

.card {
  width: 60rem;
}

.submit-button {
  width: 15rem;
  background-color: greenyellow;
  // border-radius: 1rem;
  margin-top: 2rem;
}
