.form {
  background-image: url(C:\Users\User\Desktop\podcasts\soccerPodcast\src\assets\emilio-garcia-AWdCgDDedH0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.card {
  width: 60rem;
}

.submit-button {
  width: 15rem;
  background-color: greenyellow;
  // border-radius: 1rem;
  margin-top: 2rem;
}
